.container {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;    
}

.loading-board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 200px;
    text-align: center;
    margin: 5px;
}
.chart-container {
    width: 400px;
    margin: 5px;
}

.select-coin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.chart-container-parrent {
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.days-span:hover {
    background-color: #F8FAFD;
}

.days-span {
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 12px;
    border-radius: 8px;
    cursor: pointer;
}

.active {
    background-color: #F8FAFD;
}

.span-container {
    display: flex;
    justify-content: space-between;
}

.span-container2 {
    display: flex;
    align-items: center;
    background-color: #EFF2F5;
    border-radius: 8px;
    padding: 5px;
    height: 20px;
    margin-left: auto;
}

.container-state-tree {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(93, 140, 146);
    overflow: scroll;
    width: 400px;
    height: 200px;
    margin: 5px;
}
